# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21.4'

    - name: Build
      run: go build -v ./src/...

    - name: Test
      run: go test -v ./src/...

    - name: Update coverage report
      uses: ncruces/go-coverage-report@main

    - name: Go report card
      uses: creekorful/goreportcard-action@v1.0

